.singlePost {
    flex: 9;
    padding: 30px;
}

.singlePost__Wrapper {
    padding: 20px;
    padding-right: 0;
}

.singlePost__images {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    object-fit: cover;
}

.singlePost__title {
    text-align: center;
    margin: 10px;
    font-family: 'Lora', sans-serif;
    font-weight: 400;
    color: var(--txt-color);
    font-size: 22px;
}

.singlePost__edit {
    float: right;
    font-size: 16px;
}

.singlePost__icon {
    margin-left: 10px;
    cursor: pointer;
}

.singlePost__icon:first-child {
    color: teal;
}

.singlePost__icon:last-child {
    color: tomato;
}

.singlePost__info {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    color: var(--txt-second-color);
    font-weight: 400;
}

.singlePost__description {
    color: var(--txt-color);
    font-size: 17px;
    line-height: 1.5;
    text-rendering: optimizeLegibility;
}

.singlePost__description::first-letter {
    margin-left: 20px;
    font-size: 20px;
    font-weight: 400;
}
