.header {
    margin-top: 60px;
}

.header__titles{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__titles-heading {
    height: 130px;
    width:  100%;
    display: flex;
    align-items: center;
    justify-content:center;
    font-size: 5rem;
    font-family: 'Montserrat',sans-serif;
    text-transform: none;
    font-weight: 300;
    text-transform: uppercase;
}

.header__titles-description {
    font-size: .75rem;
    font-family: 'Montserrat',serif;
    text-transform: uppercase;
    position: relative;
    padding-top: 20px;
    font-weight: 700;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 1px;
}

.header__titles-description::before {
    position: absolute;
    top: -3px;
    width: 200px;
    height: 1px;
    content: "";
    background-color: var(--border-main);
    left: 0;
    right: 0;
    margin: 0 auto;
    box-sizing: border-box;
}

.header__titles-description::after {
    position: absolute;
    top: -14px;
    height: 24px;
    width: 24px;
    content: " ";
    background-color: transparent;
    border: 1px solid #d3b062;
    left: 0;
    right: 0;
    margin: 0 auto;
    transform: rotate(45deg);
}

.header__titles-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__titles-item {
    padding: 10px 0;
    margin: 0 10px;
}