.post {
    width: 90%;
    margin: 0px 25px 40px 80px;
    padding-top: 30px;
}

.post__image {
    width: 100%;
}

.post__image-info {
    display: flex;
    flex-direction: column;
    align-items:center;
}

.post__cat {
    font-family: "Varela Round", sans-serif;
    font-size: 1rem;
    color: var(--txt-color);
    line-height: 20px;
    margin-top: 15px;
    margin-right: 10px;
    cursor: pointer;
}

.post__title {
    font-size: 1.2rem;
    color: var(--txt-color);
    font-weight: 300;
    font-family: 'Montserrat',sans-serif;
    margin-top: 15px;
    cursor: pointer;
}

