.top {
    width: 100%;
    height: 57px;
    background-color: var(--main-header);
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    font-family: 'Josefin Sans', sans-serif;
}

.top__left{
    flex: 9;
    display: flex;
    line-height: 57px;
    padding: 0 15px;
}

.top__left-item {
    margin: 0 10px;
    color: var(--main-color);
    cursor: pointer;
    font-size: 15px;
}

.top__left-item item-active {
    color: var(--second-color);
}

.top__left-item:hover {
    color: var(--second-color);
}

.top__right {
    flex: 2;
    display: flex;
    line-height: 57px;
}

.top__right-item {
  font-size: var(--main-size);
  margin-left: 30px;
  color: var(--main-color);
  cursor: pointer;
  font-size: var(--main-size);
}

.top__right-img {
    margin: 10px 20px;
    width: 30px;
    height: 30px;
    margin-top: 10px;
    border-radius:  50%;
    object-fit: over;
}

.top__search-icon {
    font-size: 
}