.sidebar {
    flex: 3;
    margin: 20px;
    padding-bottom: 30px;
    background-color: var(--main-bg);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar__item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar__image {
    width: 100%;
    height: auto;
}

.sidebar__bar-description {
    margin-bottom: 30px;
}

.sidebar__item-title{
    background-color: var(--second-bg);
    width: 100%;
    font-size: 14px;
    font-size: .875rem;
    padding: 12px;
    color: #000;
    margin: 0 0 30px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    word-wrap: break-word;
    position: relative;
}

.sidebar__item-title::after {
    position: absolute;
    bottom: -8px;
    left: 48%;
    left: calc(50% - 8px);
    border: 8px solid #ececec;
    border-color: #ececec transparent;
    border-bottom: none;
    content: "";
}

.sidebar-item {
    display: inline-block;
    width: 20%;
    padding: 0 30px;
}

.sidebar__item-categories {
    background-color: var(--second-bg);
    width: 400px;
    font-size: 14px;
    font-size: .875rem;
    padding: 12px;
    color: #000;
    margin: 0 0 30px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    word-wrap: break-word;
    position: relative;
    padding-bottom: 30px;
}

.sidebar__item-categories::after {
    position: absolute;
    bottom: -8px;
    left: 48%;
    left: calc(50% - 8px);
    border: 8px solid #ececec;
    border-color: #ececec transparent;
    border-bottom: none;
    content: "";
}